<div class="container">
  <div class="wrapper col-md-8 col-md-offset-2 col-sm-10">
    <div>
      <p><%= notice %></p>
      <%= link_to "投稿する", new_picture_path, class: 'btn btn-default btn-mm' %>

      <div class ="top-box">
        すべての投稿を<%= link_to "確認", pictures_path %>する
      </div>

      <div class="top-image">
        <img src="/app/aseets/images/iphone.png"ß>
      </div>
    </div>
  </div>
</div>
